<!DOCTYPE html>
<html>

    <head>
        {% include "./components/header.jinja" %}

        <script>

        </script>
    </head>

    <body>
        <h1>"Game Title"</h1>
        <button>Start Game</button>
    </body>

</html>