<div class="alert_box">
    <div class="alert_header">
        <h1>Alerts</h1>
    </div>
    <div class="alert_log">
        <p>ALERT!</p>
        <p>ALERT!</p>
        <p>ALERT!</p>
        <p>ALERT!</p>
        <p>ALERT!</p>
    </div>
</div>