<form action="/api/login" method="post">
    <input name="game_token" placeholder="Game Token">
    <input name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Submit">
</form>