<header>
    <div>
        <button class="icon">
            <img src="{{ url_for('static', filename='img/icons/ui/arrow_back.svg') }}" alt="back">
        </button>
    </div>

    <div style="flex-direction: column;">
        <p style="display: flex; justify-content: center;">Round X: <img src="{{ url_for('static', filename='img/icons/profiles/hacker.svg') }}" alt="hacker"></p>
        <p style="font-size: 1ch;">(X moves left)</p>
    </div>

    <div>
        <button class="icon">
            <img src="{{ url_for('static', filename='img/icons/ui/notifications.svg') }}" alt="alert">
        </button>
        <button class="icon">
            <img src="{{ url_for('static', filename='img/icons/ui/settings.svg') }}" alt="settings">
        </button>
    </div>
</header>