@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');

:root {
    --black: #09121B;
    --white: #E8F1F2;
    --red: #C40179;
    --ultra-violet: #504180;
    --green: #4DAA57;
    
}

h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

button {
    background-color: var(--green);
    color: var(--white);

    border: none;
    border-radius: 1rem;

    padding: 1rem 2rem;
    width: 100%;

    box-shadow: 0 4px #000;

    font-size: medium;
}

button:hover {
}

button:active {
    box-shadow: 0 0px #000;

    transform: translateY(4px);
}

.selection input {
    opacity: 0;
    width: 0;
    height: 0;
}

.selection>input:checked+span {
    border: 1px solid var(--ultra-violet);
    border-radius: 1rem;
}

.selection>span {
}