@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');

:root {
    --black: #09121B;
    --white: #E8F1F2;
    --red: #C40179;
    --ultra-violet: #504180;
    --green: #4DAA57;
    
}

h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    padding: 0;
        margin: 0;
}

button {

}

button:hover {
}

button:active {

}

.panel {
    background: #868686;
}