<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Misc Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <!--Favicon-->
        <link rel="shortcut icon" href="" type="image/x-icon">

        <!--Apple Stuff-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <!--Android Stuff-->
        <meta name="mobile-web-app-capable" content="yes">

        <!--CSS-->
        <link rel="stylesheet" href="./css/style.css">

        <!--JS-->
        <script async src="./js/script.js"></script>

        <!--Title-->
        <title><%= title %></title>

        <script>
            let webSocket = new WebSocket(location.origin.replace(/^http/, 'ws'));
            let el;

            webSocket.onmessage = (event) => {
                el = document.getElementById('message');
                el.innerHTML = event.data;
            };
        </script>

    </head>