<%- include('header.ejs') %>

<body>

    <form action="/api/login" method="post">
        <input name="Game Token" placeholder="Game Token">
        <input name="Username" placeholder="Username">
        <input type="email" name="Email" placeholder="Email">
        <input type="submit" value="Submit">
    </form>

</body>

</html>