body {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: solid 1px #ccc;
}

form > * {
    margin: 10px;
}