@font-face {
    font-family: 'Sora';
    src: url('../font/Sora-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
    --black: #231F20;
    --white: #FFFBFF;
    --green: #1AFE49;
    --purple: #3D43B4;
    --lightPurple: #8386F5;

    color: var(--black);
    background-color: var(--white);
}

h1 {
    font-family: 'Sora';
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
}

h2 {
    font-family: 'Sora';
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}

body {
    font-family: 'Inter';
    font-size: 24px;
    line-height: 26px;
}

/* ============================ */

.city_map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -5;

    background-color: var(--purple);
}

/* ============================ */

.district {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--lightPurple);

    transition: all 0.2s ease-in-out;
}

.district:hover {
    box-shadow: 0 0 10px var(--lightPurple);
    cursor: pointer;
}

.district > img {
    width: 100%;
    height: auto;
}

/* ============================ */

.alert_box {
    position: fixed;
    top: 0;
    right: 0;

    height: 50%;
    width: 33%;

    border: solid;
}

.alert_header {

}

.alert_log {
    display: flex;
    flex-direction: column;
}